.footer__column-link {
  display: flex;
  align-items: center;
  line-height: 31px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.footer__column-link:hover {
  color: #2f80ed;
}
