.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #000000;
  overflow: hidden;
}

/*стилизация шапки сайта*/
.header {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  overflow: hidden;
}

.logo_place_header{
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url('../images/logo_place_header.svg');
  background-repeat: no-repeat;
  width: 228px;
  height: 32px;
}

.header__title {
  max-width: 730px;
  width: 100%;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  margin: 0;
  padding-left: 64px;
  z-index: 3;
}

.header__text {
  position: absolute;
  bottom: 30px;
  left: 64px;
  max-width: 388px;
  width: 100%;
  font-size: 18px;
  line-height: 25px;
  margin: 0;
  font-weight: normal;
  z-index: 4;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__link:hover {
  color: #000000;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 1;
}

.header__main-illustration {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 765px;
  height: 608px;
  z-index: 2;
}

/*конец стилизации шапки сайта*/

/*стилизация секции descriptions*/

.description {
 
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 100px;
  margin-bottom: 100px;
}

.two-columns__brief {
  max-width: 175px;
  width: 100%;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0px;
}

.two-columns__span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
}

/*конец стилизации descriptions*/

/*стилизация секции digits*/

.digits {
  
}

.section-title {
  width: 60%;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;

}

.section-subtitle {
  width: 60%;
  margin: 0 auto;
  padding-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;

}

.table {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 100px;
}

.table__cell {
  width: 250px;
  text-align: left;
  padding-top: 60px;
  list-style-type: none;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;

}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding-top: 20px;
}

/*конец стилизации digits*/

/*стилизация секции feynman*/

.feynman {
  position: relative;
  min-height: 890px;
  margin: 0 auto;
  background-color: #f2f2f2;
  background-image: url("../images/feynman.png");
  background-position: bottom 0 left 0;
  background-repeat: no-repeat;
  text-align: center;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  max-width: 648px;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  padding-top: 70px;
}

.feynman__link {
  position: absolute;
  top: 445px;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__link:hover {
  color: #000000;
}

/*конец стилизации feynman*/

/*стилизация секции kaufman*/

.kaufman {
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
  z-index: -1; 
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  top: 0px; 
  right: -210px;
  background-image: url("../images/kaufman-triangle.svg");
  background-repeat: no-repeat;
  background-size: 877px 877px;
  z-index:-2;
}

.section-title_theme_dark {
  position: relative;
  color: white;
  padding-top: 90px;
}

.section-subtitle_theme_dark {
  position: relative;
  z-index: 3;
  color: white; 
}

.table_theme_dark {
  margin-bottom: 90px;
}


.table__cell_theme_dark {
  color: white;
  width: 200px;
  padding-top: 80px;
}

/*конец стилизации kaufman*/


/*стилизация footer*/
.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  
}

.footer__columns {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  margin-bottom: 40px;
  min-height: 250px;
}

.footer__column {
  display: flex;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer{
  position: static;
  background-image: url('../images/logo_place_footer.svg');
  background-repeat: no-repeat;
  width: 228px;
  height: 32px;
}

.footer__author {
  margin: 0;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  padding-top: 18px;
  margin-bottom: 18px;
}


.footer__column_content_info {
  flex-direction: column;
}

.footer__column-heading {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 20px;
}

.footer__column-link {
  display: flex;
  align-items: center;
  line-height: 31px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.footer__column-link:hover {
  color: #2f80ed;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  flex-direction: column;
}


.footer__social-icon {
width: 16px;
height: 16px;
margin-right: 10px;
}

/*конец footer*/